<header>
<h1 class="text-white bg-dark">勤怠アプリ</h1>
</header>
<body>
  <%# <%= form_for(:session, url: staffs_sign_in_path) do |f| %>
    <%#<%= f.label :email %>
    <%#<%= f.email_field :email %>
    <%#<%= f.label :password %>
    <%#<%= f.password_field :password %>
    <%#<%= f.submit "sign in" %>
  <%#<% end %>
  <form>
    <div class="d-flex align-items-center justify-content-center" style="height:300px;">
      <div class="border col-5">
        <h1>スタッフログイン</h1>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">メールアドレス</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">パスワード</label>
          <input type="password" class="form-control" id="exampleFormControlInput1">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">ログイン</button>
      </div>
    </div>
  </form>
</body>