<h4>ID:<%= current_staff.id%>お名前:<%= current_staff.last_name%><%= current_staff.first_name%></h4>
  <div class="container">
    <div class="row">
      <div class="col-4 text-left">
        <%= link_to "< 前月",staffs_attendances_path(date: @one_month.first.last_month), class: "btn btn-outline-dark"%>
      </div>
      <div class="col-4 text-center">
        <h2><%= @one_month.first.strftime "%Y年%m月"%></h2>
      </div>
      <div class="col-4 text-right">
        <%= link_to "来月 >",staffs_attendances_path(date: @one_month.first.next_month), class: "btn btn-outline-dark" %>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th>勤務日</th>
          <th>出勤</th>
          <th>休憩入</th>
          <th>休憩出</th>
          <th>退勤</th>
        </tr>
      </thead>
      <tbody>
      <% @attendances.each do |attendance| %>
        <tr>
        <td><%= attendance.worked_on %></td>
        <td><%= attendance.started_at %></td>
        <td><%= attendance.break_started_at %></td>
        <td><%= attendance.break_finished_at %></td>
        <td><%= attendance.finished_at %></td>
        </tr>
        <% end %>
        <tbody>
    </table>
    </div>
  </div>
