<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 mx-auto">
      <%= form_with url: managers_sessions_path, local: false, data: { remote: false } do |f| %>
        <h1 class="text-center">社員ログイン</h1>
        <div class="mb-3">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
          <%= f.email_field :email, class: "form-control", id: :email, placeholder: "name@example.com" %>
        </div>
        <div class="mb-3">
          <%= f.label :password, "パスワード", class: "form-label" %>
          <%= f.password_field :password, class: "form-control", id: :password %>
        </div>
        <button type="submit" class="btn btn-primary btn-block" class="mw-100" >ログイン</button>
      <% end %>
    </div>
  </div>
</div>