<%= form_with model:@department, url: managers_departments_path, method: :post do |f| %>
  <%= f.label :name %><span>:</span>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :description %><span>:</span>
  <%= f.text_area :description, class: "form-control" %>
  <div class = "offset-4">
    <%= f.submit "新規追加", class: "btn btn-success col-6 mt-4" %>
  </div>
<% end %>