
<div class ="container">
  <div class= "row">
    <div class = "col-4 text-left mt-4">
      <%= link_to "< トップへ", (" /staffs/tops "), class: "btn btn-outline-dark"%>
    </div>
    <div class = "col-4 text-center mt-4"><h2>登録情報</h2></div>
    <div class = "col-4 text-right mt-4">
      <%= link_to "編集ページ >", (" /staffs/registrations/edit "), class: "btn btn-outline-dark"%>
    </div>
    <table class="table table-bordered">
      <tbody>
        <tr>
        <th>ID</th><td><%= sprintf("%03d", current_staff.id) %></td>
        </tr>
        <tr>
        <th>姓</th><td><%= current_staff.last_name %></td>
        </tr>
        <tr>
        <th>名</th><td><%= current_staff.first_name %></td>
        </tr>
        <tr>
        <th>生年月日</th><td><%= l current_staff.birthed_on, format: :long %>(<%= current_staff.age %>歳)</td>
        </tr>
        <tr>
        <th>メールアドレス</th><td><%= current_staff.email %></td>
        </tr>
        <tr>
        <th>時給</th><td><%= current_staff.hourly_pay %>円</td>
        </tr>
        <tr>
        <th>性別</th><td><%= current_staff.gender_i18n %></td>
        </tr>
        <tr>
        <th>部署</th>
          <td>
            <%= current_staff.departments.map(&:name).join(",")%>
          </td>
        </tr>
        <tr>
          <th>プロフィール画像</th>
          <td>
            <% if current_staff.image.attached? %>
              <%= image_tag current_staff.image %>
            <% end %>
          </td>
        </tr>
      <tbody>
    </table>
  </div>
</div>
