<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 class="text-white p-3 bg-dark md-10 px-3">勤怠アプリ</h1>
  <%= render 'shared/flash_message' %>
    <%= yield %>
  <%= tag.div(debug(params), class: "debug border border-3 p-3") if Rails.env.development? %>
  </body>
</html>
