<!DOCTYPE html>
<html>
  <head>
    <title>AttendanceApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class= "p-3 bg-dark  w-100 position-fixed ">
      <h1 class="text-white m-0">勤怠アプリ</h1>
    </header>
    <div class= "side_bar">
      <ul>
        <li><%= link_to "トップ", managers_tops_path, class: 'text-light' %></li>
        <li><%= link_to "部署一覧", managers_departments_path, method: :get, class: 'text-light' %></li>
        <li><%= link_to "スタッフ一覧", managers_staffs_path, class: 'text-light' %></li>
      </ul>
      <button>close</button>
    </div>
    <div class= "pt-5 container-fluid ">
      <div class= "pt-3 row">
        <div class="offset-2 col-md-10 right-contents pt-4">
          <%= render 'shared/flash_message' %>
          <%= yield %>
          <%= tag.div(debug(params), class: "debug border border-3 p-3") if Rails.env.development? %>
        </div>
      </div>
    </div>
  </body>
</html>
