<%= form_with model: @staff, url: managers_staff_path(@staff), method: :patch do |f| %>
  <% if @staff.errors.any? %>
    <div class = "p-3 mb-2 bg-danger text-white rounded"><%= "#{@staff.errors.count}件のエラーがあります" %></div>
  <% end %>
  <!--フォーム内容 -->
  <%= f.label :last_name %><span>:</span>
  <%= f.text_field :last_name, id: "staff_last_name", class: "form-control #{ "is-invalid" if @staff.errors.full_messages_for(:last_name).any? }", maxlength: 10, required: true %>
  <% if @staff.errors.full_messages_for(:last_name).any? %>
    <% @staff.errors.full_messages_for(:last_name).each do |n|%>
      <ul class="list-unstyled small text-danger"><li><%= n%></li></ul>
    <% end %>
  <% end %>
  <%= f.label :first_name %><span>:</span>
  <%= f.text_field :first_name, id: "staff_first_name", class: "form-control #{ "is-invalid" if @staff.errors.full_messages_for(:first_name).any? }", maxlength: 10, required: true %>
  <% if @staff.errors.full_messages_for(:first_name).any? %>
    <% @staff.errors.full_messages_for(:first_name).each do |n|%>
        <ul class="list-unstyled small text-danger"><li><%= n%></li></ul>
    <% end %>
  <% end %>
<%= f.label :birthed_on %><span>:</span>
<%= f.date_field :birthed_on, id: "staff_birthed_on", class: "form-control #{ "is-invalid" if @staff.errors.full_messages_for(:birthed_on).any? }",required: true %>
<%= f.label :email %>
<%= f.email_field :email, id: "staff_birthed_on", class: "form-control #{ "is-invalid" if @staff.errors.full_messages_for(:email).any? }",required: true %>
<% if @staff.errors.full_messages_for(:email).any? %>
  <% @staff.errors.full_messages_for(:email).each do |n| %>
    <ul class="list-unstyled small text-danger"><li><%= n%></li></ul> 
  <% end %>
<% end %>
<%= f.label :hourly_pay %><span>:</span>
<%= f.number_field :hourly_pay, id: "staff_hourly_pay", class: "form-control #{ "is-invalid" if @staff.errors.full_messages_for(:hourly_pay).any? }",required: true, in:0..9999 %>
<div>
  <%= f.label :gender %><span>:</span>
  <%= f.collection_radio_buttons :gender, Staff.genders_i18n, :first, :last %>
</div>
<%= f.label :department %><span>:</span>
<%= f.collection_select :department_id, Department.all, :id, :name, {}, { class: "form-control #{ "is-invalid" if @staff.errors.full_messages_for(:department).any? }" } %>

<%= f.label :zipcode %><span>:</span>
<%= tag.div class: "input-group mb-3" do %>
<%= f.text_field :zipcode, id: "staff_zipcode", class: "form-control #{ "is-invalid" if @staff.errors.full_messages_for(:zipcode).any? }", maxlength: 10, required: true %>
<button class="btn btn-outline-secondary" type="button" id="zipcode-btn">住所検索</button>
<% end %>

<%= f.label :address %><span>:</span>
<%= f.text_field :address, id: "staff_adress", class: "form-control #{ "is-invalid" if @staff.errors.full_messages_for(:address).any? }", required: true %>

<div class = "offset-4">
  <%= f.submit "変更を送信", class: "btn btn-success col-6 mt-4" %>
</div>
<div class = "text-right">
  <%= link_to "消去", managers_staff_path(@staff) ,method: :delete, remote: true, class: "btn btn-outline-dark" %>
</div>
<% end %>
