<%= tag.tr id: dom_id(staff) do %>
  <td>
    <% if staff.image.attached? %>
      <%= image_tag staff.image %>
    <% end %>
  </td>
  <td>
    <%= sprintf("%03d",staff.id) %>
  </td>
  <td>
    <%= link_to "#{staff.last_name} #{staff.first_name}", edit_managers_staff_path(staff), class: "link-dark", remote: true %>
  </td>
  <td>
    <%= staff.birthed_on %>
    (<%= staff.age%>歳)
  </td>
  <td>
    <%= staff.email %>
  </td>
  <td>
    <%= staff.gender_i18n %>
  </td>
  <td>
    <%= staff.hourly_pay %>円
  </td>
  <td>
    <%= staff.staff_departments.map{ |sd| sd.department.name }.join "、" %>
  </td>
  <td>
    <%= staff.zipcode %>
  </td>
  <td>
    <%= staff.address %>
  </td>
  <td>
  <%= link_to "勤怠一覧", managers_staff_attendances_path(staff),method: :get, class: "btn btn-outline-dark" %>
  </td>
<% end %>