<%# <h4>社員ID:<%= sprintf("%03d", current_manager.id) </h4> %>
<%# <h4>名前:<%= current_staff.last_name%>
<%# <%= current_manager.first_name</h4> %>
<button type="button" class="btn btn-primary d-none" id = "open-staff-modal" data-toggle="modal" data-target="#exampleModal"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">スタッフ情報編集</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <div class = " text-left col-4 mt-4">
    <%= link_to "< トップへ", (" /managers/tops "), class: "btn btn-outline-dark"%>
  </div>
  <div class = " text-center col-4 mt-4">
    <h2>スタッフ一覧</h2>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>スタッフID</th>
        <th>名前</th>
        <th>生年月日</th>
        <th>メールアドレス</th>
        <th>性別</th>
        <th>時給</th>
        <th>部署</th>
        <th>消去</th>
        <th>勤怠</th>
      </tr>
    </thead>
    <tbody>
        <%= render partial: "staff", collection: @staffs %>
    </tbody>
  </table>
  </div>
</div>
