<h4>社員ID:<%= sprintf("%03d", current_staff.id) %></h4>
<h4>名前:<%= current_staff.last_name%><%= current_staff.first_name%></h4>
  <div class="container">
    <div class="row">
      <%= link_to "< トップへ", (" /managers/tops "), class: "btn btn-outline-dark"%>
    <table class="table">
      <thead>
        <tr>
          <th>スタッフID</th>
          <th>名前</th>
          <th>生年月日</th>
          <th>メールアドレス</th>
          <th>性別</th>
          <th>時給</th>
          <th>部署</th>
        </tr>
      </thead>
      <tbody>
        <% @staffs.each do |staff| %>
          <tr>
            <td>
              <%= sprintf("%03d",staff.id) %>
            </td>
            <td>
              <%= link_to "#{staff.last_name} #{staff.first_name}", edit_managers_staff_path(staff), class: "link-dark"%>
            </td>
            <td>
              <%= staff.birthed_on %>
            </td>
            <td>
              <%= staff.email %>
            </td>
            <td>
              <%= staff.gender_i18n %>
            </td>
            <td>
              <%= staff.hourly_pay %>円
            </td>
            <td>
              <%= staff.department.name %>
            </td>
            <td>
            <%= link_to "消去", managers_staff_path(staff) ,method: :delete, class: "btn btn-outline-dark" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
